* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lekton", sans-serif;
  background: #fefae0;
  line-height: 1.15;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  margin: 40px 15px 20px 15px;
  width: 125px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 10px 8px;
  text-transform: uppercase;
  color: #283618;
  letter-spacing: 0.15em;
}

.nav:hover {
  border-bottom: 3px solid #606c38;
}

/* Home */

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.home > h1 {
  font-size: 4em;
  font-family: "Alike", serif;
  font-weight: bold;
  color: #283618;
}

.home > p {
  margin-top: 60px;
  font-size: 2em;
  font-weight: 500;
}

.icons {
  margin-top: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Projects Container */

.projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.project {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 500px;
  height: 475px;
  margin: 20px;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 8px #bc6c25;
  border-radius: 12px;
}

.project > h1 {
  margin-top: 15px;
}

.about-project {
  width: 450px;
  text-align: left;
  padding: 5px;
}

.about-project > p {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}

.demo-btn {
  width: 150px;
  height: 45px;
  border: none;
  background-color: #dda15e;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 3px 3px #bc6c25;
  font-family: "Lekton", sans-serif;
}

.demo-btn:hover {
  cursor: pointer;
  background: #606c38;
  box-shadow: 3px 3px #283618;
  color: white;
}

.tag {
  font-weight: bold;
}

.git {
  text-align: center;
  margin: 40px auto 50px auto;
}

.more-btn {
  width: 170px;
}

/* Skills */

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px 25px 10px;
}

.skill-container > h1,
.certify > h1 {
  color: #283618;
  font-family: "Alike", serif;
}

.list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 25px;
}

.list > li {
  height: 50px;
  width: 260px;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.1em;
  font-family: "Alike", serif;
  font-weight: bold;
  color: #283618;
  border: 2px solid #606c38;
  border-radius: 10px;
}

.list > li:hover {
  box-shadow: 5px 5px #ccd5ae;
}

.certify {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}

.certify-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
}

.certify-links > a {
  text-decoration: none;
  font-size: 1.1em;
  font-family: "Alike", serif;
  font-weight: bold;
  color: #283618;
  margin: 8px;
}

.web {
  color: #780000;
}
